<style>
    #log {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width:100%;
        height:100%;
        margin-bottom: 5px;;
    }
</style>

<form id="IPMPlog" name="IPMPlog" method="post" action="ipmpLog">
<table width="100%" height="97"  cellpadding="1">
    <tr>
        <th>IP:</th>
        <th>User:</th>
        <th>Password:</th>
        <th></th>
    </tr>
  <tr>
    <td>
		<select name="IP">
			<option>212.90.187.199</option>
			<option>212.90.187.200</option>
			<option>212.90.164.250</option>
			<option>212.90.164.8</option>
		</select>
	</td>
    <td>
		<input type="text" name="user" id="user" value="root"  width="70"/>
	</td>
    <td>
		<input type="text" name="pass" id="pass" width="80" value="visonic199" />
    </td>
    <td>
		<input type="submit" name="run" id="Run" value="Run" />
		<input type="submit" name="stop" id="Stop" value="Stop" />
    </td>
  </tr>
  <tr>
	<td height="200" colspan="4">
		<textarea id="log" name="logfield"></textarea>
	</td>
  </tr>
</table>
</form>